Localization
{
	en-us
	{
		#autoLOC_tooltipSortOptions = Sort Options
		#autoLOC_tooltipSortOrder = Toggle Sort Order
		#autoLOC_tooltipShowHiddenList = Show Hidden Contracts
		#autoLOC_tooltipShowActiveList = Show Active Contracts
		#autoLOC_tooltipMissionList = Mission Lists
		#autoLOC_tooltipWindowProgress = Go To Progress Records
		#autoLOC_tooltipWindowContracts = Go To Contracts
		#autoLOC_tooltipMissionEdit = Edit Mission List
		#autoLOC_tooltipAgency = Show Contract Agency
		#autoLOC_tooltipHideContract = Hide Contract
		#autoLOC_tooltipShowContract = Show Contract
		#autoLOC_tooltipRemoveContract = Remove Contract
		#autoLOC_tooltipPinOn = Pin Contract
		#autoLOC_tooltipPinOff = Un-Pin Contract
		#autoLOC_tooltipAddMission = Add To Mission List
		#autoLOC_tooltipNoteShow = Show Note
		#autoLOC_tooltipNoteHide = Hide Note
		#autoLOC_tooltipToggleTooltips = Toggle Tooltips
		#autoLOC_tooltipResetWindow = Reset Window
		#autoLOC_tooltipWindowOptions = Toolbar Options
		#autoLOC_tooltipWindowScale = Window Scale Options
		#autoLOC_textWindowTitle = Contracts +
		#autoLOC_textAllMissionTitle = All Contracts:
		#autoLOC_textProgressTitle = Progress Nodes:
		#autoLOC_textSortOne = Difficulty
		#autoLOC_textSortTwo = Expiration
		#autoLOC_textSortThree = Acceptance
		#autoLOC_textSortFour = Reward
		#autoLOC_textSortFive = Type
		#autoLOC_textSortSix = Planet
		#autoLOC_textMissionEditTitle = Edit Mission Title
		#autoLOC_textMissionEditChange = Change Name
		#autoLOC_textMissionEditWarning = Delete Current Mission:\n\n<b>Will Not</b> Affect\n\nContract Status
		#autoLOC_textMissionEditDelete = Delete Mission
		#autoLOC_textMissionNewTitle = Create New Mission
		#autoLOC_textMissionNewCreate = Create Mission
		#autoLOC_textMissionAddTitle = Contract Missions:
		#autoLOC_textMissionAddCreate = Create New Mission
		#autoLOC_textRebuildWarning = Rebuild Contracts\n\nWindow + Display:\n\n<b>Will Not</b> Affect Contract Status
		#autoLOC_textRebuild = Reset Display
		#autoLOC_textOptionsTitle = Window Options:
		#autoLOC_textOptionsPixelPerfect = Pixel Perfect
		#autoLOC_textOptionsLargeFont = Use Large Fonts
		#autoLOC_textOptionsIgnoreKSPScale = Ignore KSP UI Scale
		#autoLOC_textOptionsScale = UI Scale:
		#autoLOC_textOptionsApply = Apply Scale
		#autoLOC_textOptionsClose = Close
		#autoLOC_textToolbarTitle = Toolbar Options:
		#autoLOC_textToolbarStockToolbar = Use Stock Toolbar
		#autoLOC_textToolbarReplaceStock = Replace Stock Toolbar
		#autoLOC_textStyleTitle = UI Style
		#autoLOC_textStyle = Use Stock UI Style
		#autoLOC_textToolbarClose = Close
		#autoLOC_textProgressInterval = Interval Nodes
		#autoLOC_textProgressStandard = Standard Nodes
		#autoLOC_textProgressPOI = POI Nodes
		#autoLOC_textProgressBody = Celestial Body Nodes
	}
}
